node_modules/
bower_components/
*.log

build/
dist/

##Dependencies##
webpack.config.js
.eslintignore
.eslintrc
.lintstagedrc
eslint.json
package.json


##Task Runner##
Gruntfile.js

##Misc##
thesisREQ.txt
thesis_ideas.md
